.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 30%;
  text-align: center;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 4px solid red;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 4px solid red;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.content_image{
  width: calc((100% - 50px)/3);
  width: 30vw;
  height: 50vh;
  margin: 10px;
}

.restaurant_name{
  font-size: 20px;
  color: black;
}

.price_name{
  color: black;
}
.page-heading{
  font-size:30px;
}
