.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid red;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid red;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.content_image{
  width: calc((100% - 50px) / 3);
  margin-bottom: 10px;
}

.restaurant_name{
  font-size: 20px;
  color: black;
}

.price_name{
  color: black;
}

.content_image{
  width: 33vw;
}